$barbellspace: 39%;

.h2 {
  font-size: 4vh;
}

.container {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(
                  to bottom,
                  #fff 45%,
                  #b5b5b5 45% 47%,
                  #e3e3e3 50%,
                  #b5b5b5 52% 55%,
                  #fff 55% 100%,
  );
}

.left, .right {
  display: flex;
  height: 150px;
  width: $barbellspace;
}

.left {
  flex-direction: row-reverse;
}

.middle {
  text-align: center;
  width: calc(100% - #{$barbellspace} * 2);
}