<div class="vertical-container">
    <div class="bar-container">
        <div class="left">
            @for (plate of plates; track plate.id) {
                <div [ngStyle]="verticalPlateStyle(plate)">{{ plate.weight }}</div>
            }
        </div>
        <div class="middle">
            <div class="middle-top">
                <h2 class="h2">2x{{ sum(plates) }}+{{ BAR_WEIGHT }}<br>={{ calculated }} {{ weightReached ? '✅' : '❌' }}</h2>
            </div>
            <div class="middle-center"></div>
            <div class="middle-bottom">
                <h2 class="h2" *ngIf="!weightReached">missing<br>{{ desiredWeight - calculated }}</h2>
            </div>

        </div>
        <div class="right">
            @for (plate of plates; track plate.id) {
                <div [ngStyle]="verticalPlateStyle(plate)">{{ plate.weight }}</div>
            }
        </div>
    </div>
    <div class="bar-list">
        <div class="weight-per-end" *ngIf="plates.length > 0">
            <h2 class="h2"> weights per end</h2>
        </div>
        @for (plateSum of summarize(); track plateSum.plate.weight) {
            <div class="li-line">
                <div class="plate-amount">{{ plateSum.amount }}x</div>
                <div [ngStyle]="horizontalPlateStyle(plateSum.plate)">{{ plateSum.plate.weight }}</div>
            </div>
        }
    </div>
</div>
