<div class="container">
    <div class="selection">
        <plateselection (addPlate)="addPlate($event)"
                        (resetPlates)="reset()">
        </plateselection>
    </div>
    <div class="available">
        <mat-chip-set aria-label="Available plates">
            @for (plate of availablePlates; track plate.id) {
                <mat-chip (click)="remove(plate.id)">
                    {{ plate.weight }}
                </mat-chip>
            }
        </mat-chip-set>
    </div>
    <weight-input (weightChanged)="weightChanged($event)"></weight-input>
    <platedisplay [plates]="stackedPlates"></platedisplay>
</div>


